<h1>New Crossing</h1>

<%= render 'form' %>


<div class="form-group">
    <div class="col-md-3">
        <%= link_to crossings_path do%>
        <span class="glyphicon glyphicon-arrow-left no-hover" ></span>
        <% end %> 
    </div>   
</div>