// Place all the styles related to the GeneticBanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon{
    font-size: 20px; 
}

a:hover {
    color: #1762a2;
    background-color: #fff;
}

.glyphicon-file {
    font-size: 30px; 
}